<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>97360000107-bstpab1ld714aa43jjfvuhshrjtqrml3.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.97360000107-bstpab1ld714aa43jjfvuhshrjtqrml3</string>
	<key>API_KEY</key>
	<string>AIzaSyCPDjTdkPQqUTXY7DYiCuL4lFw9zBBt_EE</string>
	<key>GCM_SENDER_ID</key>
	<string>97360000107</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.chatiraqi</string>
	<key>PROJECT_ID</key>
	<string>chatiraqi-22c32</string>
	<key>STORAGE_BUCKET</key>
	<string>chatiraqi-22c32.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:97360000107:ios:80033e9e7532e7d5b52d2e</string>
</dict>
</plist>
